.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  width: 100%;
  height: 130px;
  margin-bottom: 30px;
}

.mainbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  width: 60%;
  height: 70%;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.nav ul li {
  margin: 0px 40px;
}

.nav ul li a {
  text-decoration: none;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  padding: 15px 15px;
}
.nav ul li:nth-child(5) a img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.nav ul li:nth-child(1),
.nav ul li:nth-child(2) {
  display: none;
}
.nav ul li:nth-child(3) a:hover,
.nav ul li:nth-child(4) a:hover,
.nav ul li:nth-child(6) a:hover,
.nav ul li:nth-child(7) a:hover {
  animation: big 0.2s forwards;
}

@keyframes big {
  from {
    transform: scale(1);
  }
  to {
    color: rgb(255, 255, 255);
    background-color: #f65f36;
    transform: scale(1.2);
  }
}

@media screen and (max-width: 1750px) {
  .header {
    text-align: center;
    min-height: 50px;
    height: auto;
    padding: 0;
  }
  .mainbar {
    margin: 0;
    padding: 0;
    justify-content: start;
    align-items: start;
  }
  .nav ul {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: last baseline;
    width: 100%;
  }

  .nav ul li:nth-child(3),
  .nav ul li:nth-child(4),
  .nav ul li:nth-child(5),
  .nav ul li:nth-child(6),
  .nav ul li:nth-child(7) {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .nav ul li:nth-child(5) {
    display: none;
  }
  .nav ul li a {
    display: block;
    width: auto;
  }

  .nav ul li:nth-child(1) {
    display: flex;
    width: 100%;
    padding: 5px 10px;
    margin: 0;
  }

  .nav ul li:nth-child(1) a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: black;
    padding: 0;
    margin: 0;
    width: auto;
  }

  .nav ul li:nth-child(1) > a > img {
    border-radius: 50%;
  }

  .nav ul li:nth-child(1) a span {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    justify-content: flex-start;
    color: #0e2c53;
    align-items: flex-start;
    margin-left: 10px;
    width: 100%;
  }
  .nav ul li:nth-child(1) a span p {
    display: flex;

    font-size: 10px;
    justify-content: flex-start;
    color: rgb(233, 3, 3);
    align-items: flex-start;
    width: 100%;
  }

  .nav ul li:nth-child(1) a span p img {
    height: 12px;
    width: 55px;
    padding: 0px 4px;
  }

  .nav ul li:nth-child(2) {
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px;
    padding: 0;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0px;
    width: 100%;
    height: 100%;
  }
  .nav li {
    margin: 0px 0px;
  }

  .nav ul li:nth-child(7) a:active {
    background-color: rgb(240, 237, 237);
  }

  @keyframes big {
    from {
      transform: scale(1);
    }
    to {
      color: rgb(255, 255, 255);
      width: 100%;
      background-color: #f65f36;
      transform: scale(1);
    }
  }
}
