

* {
  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

html,
body {
  font-family: "Manrope", serif;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative; /* Required for positioning the pseudo-element */
  min-height: 100vh; /* Ensures the body covers the full viewport height */
      /* scroll-behavior: smooth; */

}

body::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-image: url("/background.jpg");
  background-size: cover;      
  background-position: center;    
  background-repeat: no-repeat;    
  background-attachment: fixed;   
  filter: blur(4px); 
   z-index: -3; 
     overflow-y: hidden;
}
